.ods-grid {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.ods-badge {
  padding: .75rem 1.25rem;
  border-radius: var(--radius-sm);
  text-align: center;
  font-weight: 700;
  font-size: .9rem;
  color: var(--branco);
}

.ods-badge--2 { background: #D3A228; }
.ods-badge--9 { background: #F36D25; }
.ods-badge--13 { background: #3F7E44; }

.ods-badge__num {
  font-size: 2rem;
  display: block;
}